@*Stats Index*@
@model List<User>    
@{ //This method only works here
    string listOfWords = string.Empty;

    foreach (var user in Model)
    {
        foreach (var word in user.Messages)
        {
            listOfWords += " " + word.Content.ToLower();
        }

    }
    char[] delimiterChars = { ' ', ',', '.', ':', '\t' };
    string[] words = listOfWords.Split(delimiterChars);

    var mostPopular = words.GroupBy(s => s).OrderByDescending(g => g.Count());


    List<int> hourData = ViewData["HourWithMostMessages"] as List<int>;
    List<string> mostActiveUser = ViewData["MostActiveUser"] as List<string>;
}


<table class="table table-hover" style="margin-top:25px;">
    <thead>
        <tr>
            <th scope="col">Stats</th>
            <th scope="col">Most Popular Word</th>
            <th scope="col">Hour With Most Chirps</th>
            <th scope="col">Most Active Account</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <th class="text-primary" scope="row"></th>
            <td>"@mostPopular.First().Key"</td>
            <td>@hourData.First():00 with @hourData.Last() messages</td>
            <td>@mostActiveUser.First() with @mostActiveUser.Last() messages</td>
    </tbody>
</table>

<div class="text-center" style="margin-top:100px">
    <h1>More stats are under construction, thank you for your patience</h1>
    <h2>- The Chirp Team</h2>
</div>
